{% load static %} {% for reply in replies %}

<div class="activities__box">
  <div class="activities__boxHeader roomListRoom__header">
    <div class="roomListRoom__author">
      <div class="avatar avatar--small">
        {% if reply.user.avatar %}
        <img src="{{ reply.user.avatar.url }}" alt="avatar" />
        {% else %}
        <img src="{% static 'img/avatar.svg' %}" alt="avatar" />
        {% endif %}
      </div>
      <p>
        <span>{{ reply.created | timesince }} ago</span>
      </p>
    </div>
    {% if request.user == reply.user or request.user.is_staff %}
    <div class="roomListRoom__actions">
      <a href="{% url 'delete-message' reply.id %}">
        <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15">
          <path
            d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"></path>
          <path
            d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"></path>
        </svg>
      </a>
    </div>
    {% endif %}
  </div>
  <div class="activities__boxContent">
    <a href="{% url 'room' reply.room.id %}">{{ reply.room }}</a>
    <div class="activities__boxRoomContent">
      {{ reply.body }} {% if reply.accepted %}
      <img
        class="activities__boxRoomContent--img"
        src="https://img.icons8.com/fluency/20/checked.png"
        alt="checked" />
      {% else %}
      <img
        class="activities__boxRoomContent--img"
        src="https://img.icons8.com/color/20/box-important--v1.png"
        alt="box-important--v1" />
      {% endif %}
    </div>
  </div>
</div>

{% endfor %}
