{% extends "main.html" %} {% block content %}

<main class="auth layout">
  <div class="container">
    <div class="layout__box">
      <div class="layout__boxHeader">
        <div class="layout__boxTitle">
          <h3>Register</h3>
        </div>
      </div>
      <div class="layout__body">
        <h2 class="auth__tagline">Create and discuss development topics</h2>
        <form class="form" method="POST" action="">
          {% csrf_token %} {% for field in form %}
          <div class="form__group form__group">
            <label>{{ field.label }}</label>
            {{ field }}
          </div>
          {% endfor %}
          <button class="btn btn--main" type="submit">Register</button>
        </form>
        {% if messages %}
        <ul class="messages">
          {% for message in messages %}
          <li>{{ message }}</li>
          {% endfor %}
        </ul>
        {% endif %}
        <div class="auth__action">
          <p>Already signed up?</p>
          <a href="{% url 'login' %}" class="btn btn--link">Sign In</a>
        </div>
      </div>
    </div>
  </div>
</main>

{% endblock content %}
