{% extends "main.html" %} {% load static %} {% block content %}

<main class="layout">
  <div class="container">
    <div class="layout__box">
      <div class="layout__boxHeader">
        <div class="layout__boxTitle">
          <a href="{% url 'home' %}">
            <svg
              version="1.1"
              xmlns="http://www.w3.org/2000/svg"
              width="32"
              height="32"
              viewBox="0 0 32 32">
              <title>arrow-left</title>
              <path
                d="M13.723 2.286l-13.723 13.714 13.719 13.714 1.616-1.611-10.96-10.96h27.625v-2.286h-27.625l10.965-10.965-1.616-1.607z"></path>
            </svg>
          </a>
          <h3>Recent Activities</h3>
        </div>
      </div>
      <div class="activities-page layout__body">
        {% for room_message in room_messages %} {% if forloop.counter <= 3 %}
        <div class="activities__box">
          <div class="activities__boxHeader roomListRoom__header">
            <a href="{% url 'user-profile' room_message.user.id %}" class="roomListRoom__author">
              <div class="avatar avatar--small">
                {% if room_message.user.avatar %}
                <img src="{{ room_message.user.avatar.url }}" alt="avatar" />
                {% else %}
                <img src="{% static 'img/avatar.svg' %}" alt="avatar" />
                {% endif %}
              </div>
              <p>
                @{{ room_message.user.username }}
                <span>{{ room_message.created | timesince }} ago</span>
              </p>
            </a>
            {% if request.user == room_message.user or request.user.is_staff %}
            <div class="roomListRoom__actions">
              <a href="{% url 'delete-message' room_message.id %}">
                <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15">
                  <path
                    d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"></path>
                  <path
                    d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"></path>
                </svg>
              </a>
            </div>
            {% endif %}
          </div>
          <div class="activities__boxContent">
            <p>
              replied to thread
              <a href="{% url 'room' room_message.room.id %}">{{ room_message.room }}</a>
            </p>
            <div class="activities__boxRoomContent">{{ room_message.body }}</div>
          </div>
        </div>
        {% endif %} {% endfor %}
      </div>
    </div>
  </div>
</main>

{% endblock content %}
